
  .main-image {
      img {
        width: 100%;
        height: 50%;
      }
      position: absolute;

    }

    .main {
      flex: 1;
  
      flex-direction: column;
      align-items: center; // Centraliza horizontalmente
      justify-content: center; // Centraliza verticalmente
      text-align: center; // Centraliza o texto
  padding-left: 10rem;
      // Adicione uma altura mínima se necessário
      min-height: 100vh; // Garante que a seção ocupe pelo menos a altura total da tela
      min-width: 100vh;
      margin: 0px;

      h1 {
        font-size: 2.5rem;
        color: #ffffff;
    }

  
      .main-content {
          margin: 20px;
  
         
          p {
              font-size: 1.2rem;
              color: #ffffff;
              display: flex;
              flex-direction: column;
              align-items: center; // Centraliza o texto dentro do parágrafo
              margin-top: 15px;
          }
      }
  }